<!--cedula-->
<div class="d-flex justify-content-around">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#cedula">Cedula</button>
<div scope="col"><h4>El numero de la consulta es : {{numero}}</h4></div>
</div>
 

<div class="d-flex justify-content-center">

<div id="cedula" class="collapse ">

            <div class="card">
                <div class="card-body">
                    <form action="/contratos/cedula" method="POST">
                        <div class="form-group">
                        <input class="col-md-12" type="number" name="cedula" placeholder="Cedula">
                        </div>
                        <div class="form-group">
                        <button class="btn btn-success btn-block" >Consultar</button>
                         
                        </div>

                    </form>
                </div>
          
</div>

</div>

<!--crear-->





<!--comuna-->



</div>

<a href="/contratos/crear"  class="btn btn-primary col-md-1 ">Nuevo registro</a>

