node_modules
gestores.xls
copeteconsultas.csv
copetegestores.csv
despistados/
personal.xlsx
resultadopersonal.xlsx
resultadopersonalvista.xlsx
resultadovotantes.xlsx
votantes.xlsx
base de datos
prueba