 <div class="titulo">
<h1>  Personal </h1>
</div>
<!--'archivo'-->
 <form action='archivo' method="POST" enctype="multipart/form-data">
 <br><br>
 <div class="d-flex justify-content-center">
   <div class="upload-btn-wrapper">
         <button class="btn">Seleccionar archivo</button>
        <input type="file" name="file" />
        </div>
 </div>
 <br><br>
  <div class="d-flex justify-content-center">
   
        <button type="submit" class="btn btn-success col-md-2" value="Subir">Subir</button>
</div>
</form>
 <br>