
<div class="titulo">
<h1>  Personal </h1>
</div>
 <form action="" method="POST">


  <div  class="d-flex justify-content-center">
  <div class="alert alert-primary col-md-5 d-flex justify-content-center" >
  ¿Seguro que quieres eliminar a la persona {{this.nombre_completo }}    con la cedula  {{this.cedula}}?
  </div>
    </div>

  <div class="d-flex justify-content-around">
    <td><a class="btn btn-success col-md-2" href="/personal/borrargestores/{{this.cedula}}"  >si</a></td>
    <td><a class="btn btn-danger col-md-2" href="javascript:window.history.back()"> no</a></td>
  </div>




</form>