<!--'archivo'-->
<div class="titulo">
<h1>Inscritos </h1>
</div>
<div class="container">
<div class="d-flex align-items-end flex-column bd-highlight mb-5">
<td><a href="/consulta"  class="btn btn-info" >Regresar</a></td>
 </div>
 </div>
 <form action='archivo' method="POST" enctype="multipart/form-data">
 <br><br>
 <div class="d-flex justify-content-center">
   <div class="upload-btn-wrapper">
         <button class="btn">Seleccionar archivo</button>
        <input type="file" name="file" />
        </div>
 </div>
 <br><br>
  <div class="d-flex justify-content-center">
   
        <button type="submit" class="btn btn-success col-md-2" value="Subir">Subir</button>
</div>
</form>
<br>
 