<div class="d-flex justify-content-center">
<h1>Divipol</h1>
</div>
<style type="text/css">
	table.tableizer-table {
		font-size: 20px;
		border: 1px solid #CCC; 
		font-family: Helvetica, Arial, sans-serif;
        text-align: center;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
        text-align: center;
	}
	.tableizer-table th {
		background-color: #263238; 
		color: #FFF;
		font-weight: bold;
       text-align: center;
        -ms-flex-align: center;
	}
    .containerdivipol {
	display: flex;
   
    align-items: center;
    text-align: center;
     margin: auto;
	}
</style>
<div class="containerdivipol d-flex justify-content-center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>dd</th><th>mm</th><th>zona</th><th>puesto</th><th>municipio</th><th>nombre del puesto</th><th>mesas</th><th>comuna</th></tr></thead><tbody>
 <tr><td>31</td><td>001</td><td>01</td><td>01</td><td>CALI</td><td>ESC. JOSE ACEVEDO Y GOMEZ</td><td>19</td><td>1</td></tr>
 <tr><td>31</td><td>001</td><td>01</td><td>02</td><td>CALI</td><td>IE JOSE HOLGUIN GARCES</td><td>33</td><td>1</td></tr>
 <tr><td>31</td><td>001</td><td>01</td><td>03</td><td>CALI</td><td>IE JOSE CELESTINO MUTIS</td><td>34</td><td>1</td></tr>
 <tr><td>31</td><td>001</td><td>01</td><td>04</td><td>CALI</td><td>COLISEO BAJO AGUACATAL</td><td>9</td><td>1</td></tr>
 <tr><td>31</td><td>001</td><td>01</td><td>05</td><td>CALI</td><td>IE CECILIA CABALLERO</td><td>6</td><td>1</td></tr>
 <tr><td>31</td><td>001</td><td>01</td><td>06</td><td>CALI</td><td>SEDE MARICE SINISTERRA TERRON</td><td>14</td><td>1</td></tr>
 <tr><td>31</td><td>001</td><td>01</td><td>07</td><td>CALI</td><td>COL SANTA ISABEL DE HUNGRIA AG</td><td>2</td><td>1</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>02</td><td>01</td><td>CALI</td><td>INST UNIV. ANTONIO JOSE CAMACH</td><td>68</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>02</td><td>02</td><td>CALI</td><td>EDIFICIO FERROCARRILES NACION</td><td>55</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>02</td><td>03</td><td>CALI</td><td>C.A.M.</td><td>36</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>02</td><td>04</td><td>CALI</td><td>COLEGIO ODONTOLOGICO</td><td>14</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>02</td><td>05</td><td>CALI</td><td>ACADEMIA DE DIBUJO PROFESIONAL</td><td>30</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>02</td><td>06</td><td>CALI</td><td>COLEGIO HISPANOAMERICANO</td><td>34</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>03</td><td>01</td><td>CALI</td><td>COL MIGUEL CAMACHO PEREA</td><td>37</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>03</td><td>02</td><td>CALI</td><td>IE SANTA CECILIA</td><td>24</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>03</td><td>03</td><td>CALI</td><td>ESCUELA REPUBLICA DEL BRASIL</td><td>30</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>03</td><td>04</td><td>CALI</td><td>ESCUELA BRISAS DE LOS ALAMOS</td><td>21</td><td>2</td></tr>
 <tr><td>31</td><td>001</td><td>03</td><td>05</td><td>CALI</td><td>CLUB DE LEONES LA MERCED</td><td>25</td><td>2</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>04</td><td>01</td><td>CALI</td><td>ASAMBLEA DEPARTAMENTAL</td><td>26</td><td>3</td></tr>
 <tr><td>31</td><td>001</td><td>04</td><td>02</td><td>CALI</td><td>ESCUELA CARLOS A. SARDI</td><td>33</td><td>3</td></tr>
 <tr><td>31</td><td>001</td><td>04</td><td>03</td><td>CALI</td><td>COLEGIO SANTA LIBRADA</td><td>30</td><td>3</td></tr>
 <tr><td>31</td><td>001</td><td>04</td><td>04</td><td>CALI</td><td>NORMAL SUPERIOR LOS FARALLONE</td><td>21</td><td>3</td></tr>
 <tr><td>31</td><td>001</td><td>04</td><td>05</td><td>CALI</td><td>ESCUELA REPUBLICA DE MEXICO</td><td>18</td><td>3</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>05</td><td>01</td><td>CALI</td><td>SEDE MANUELA BELTRAN</td><td>26</td><td>4</td></tr>
 <tr><td>31</td><td>001</td><td>05</td><td>02</td><td>CALI</td><td>ESCUELA JOSE ANTONIO GALAN</td><td>31</td><td>4</td></tr>
 <tr><td>31</td><td>001</td><td>05</td><td>03</td><td>CALI</td><td>ESCUELA RAFAEL ZAMORANO</td><td>33</td><td>4</td></tr>
 <tr><td>31</td><td>001</td><td>05</td><td>04</td><td>CALI</td><td>COLEGIO INEM</td><td>33</td><td>4</td></tr>
 <tr><td>31</td><td>001</td><td>05</td><td>05</td><td>CALI</td><td>COLEGIO CASD SEDE SANTO TOMAS</td><td>7</td><td>4</td></tr>
 <tr><td>31</td><td>001</td><td>05</td><td>06</td><td>CALI</td><td>SEDE SAN VICENTE DE PAUL</td><td>8</td><td>4</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>06</td><td>01</td><td>CALI</td><td>S.E.N.A.</td><td>51</td><td>5</td></tr>
 <tr><td>31</td><td>001</td><td>06</td><td>02</td><td>CALI</td><td>ESCUELA CELMIRA BUENO DE OREJU</td><td>51</td><td>5</td></tr>
 <tr><td>31</td><td>001</td><td>06</td><td>03</td><td>CALI</td><td>ESCUELA MARIANO OSPINA PEREZ</td><td>38</td><td>5</td></tr>
 <tr><td>31</td><td>001</td><td>06</td><td>04</td><td>CALI</td><td>ESCUELA MARIA PANESSO</td><td>24</td><td>5</td></tr>
 <tr><td>31</td><td>001</td><td>06</td><td>05</td><td>CALI</td><td>ESCUELA MARIO LLOREDA</td><td>19</td><td>5</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>07</td><td>01</td><td>CALI</td><td>POLIDEPORTIVO LOS GUADUALES</td><td>42</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>07</td><td>02</td><td>CALI</td><td>ESCUELA LAS AMERICAS</td><td>31</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>07</td><td>03</td><td>CALI</td><td>ESCUELA PABLO EMILIO CAICEDO</td><td>30</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>07</td><td>04</td><td>CALI</td><td>SANTA ISABEL DE HUNGRIA CALIMI</td><td>19</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>07</td><td>05</td><td>CALI</td><td>SEDE CECILIA MU\ÑOZ RICAURTE</td><td>26</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>08</td><td>01</td><td>CALI</td><td>ESCUELA SAN JORGE</td><td>23</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>08</td><td>02</td><td>CALI</td><td>ESCUELA SAN LUIS</td><td>38</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>08</td><td>03</td><td>CALI</td><td>ESCUELA TRES DE JULIO</td><td>26</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>08</td><td>04</td><td>CALI</td><td>ESCUELA ATANASIO GIRARDOT</td><td>31</td><td>6</td></tr>
 <tr><td>31</td><td>001</td><td>08</td><td>05</td><td>CALI</td><td>UNIDAD DEPORTIVA PETECUY II</td><td>15</td><td>6</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>09</td><td>01</td><td>CALI</td><td>COL STA ISABEL  HUNGRIA ALFONS</td><td>37</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>09</td><td>02</td><td>CALI</td><td>ESCUELA LOS FARALLONES</td><td>20</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>09</td><td>03</td><td>CALI</td><td>COL. VICENTE BORRERO COSTA</td><td>29</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>09</td><td>04</td><td>CALI</td><td>ESCUELA MANUEL MARIA MALLARINO</td><td>13</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>09</td><td>05</td><td>CALI</td><td>IE JUAN BAUTISTA DE LA SALLE</td><td>8</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>10</td><td>01</td><td>CALI</td><td>IE MANUEL MARIA MALLARINO CEIB</td><td>33</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>10</td><td>02</td><td>CALI</td><td>ESCUELA CARLOS HOLGUIN SARDI</td><td>14</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>10</td><td>03</td><td>CALI</td><td>ESCUELA ANA MARIA VERNAZA</td><td>17</td><td>7</td></tr>
 <tr><td>31</td><td>001</td><td>10</td><td>04</td><td>CALI</td><td>IE SIETE DE AGOSTO</td><td>21</td><td>7</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>11</td><td>01</td><td>CALI</td><td>ESCUELA MANUEL REBOLLEDO</td><td>35</td><td>8</td></tr>
 <tr><td>31</td><td>001</td><td>11</td><td>02</td><td>CALI</td><td>INST TEC COMERCIAL LAS AMERICA</td><td>37</td><td>8</td></tr>
 <tr><td>31</td><td>001</td><td>11</td><td>03</td><td>CALI</td><td>COLEGIO SANTA FE</td><td>33</td><td>8</td></tr>
 <tr><td>31</td><td>001</td><td>11</td><td>04</td><td>CALI</td><td>IE BENJAMIN HERRERA</td><td>23</td><td>8</td></tr>
 <tr><td>31</td><td>001</td><td>12</td><td>01</td><td>CALI</td><td>COLEGIO LEON DE GREIFF</td><td>35</td><td>8</td></tr>
 <tr><td>31</td><td>001</td><td>12</td><td>02</td><td>CALI</td><td>IE ALBERTO CARVAJAL BORRERO</td><td>27</td><td>8</td></tr>
 <tr><td>31</td><td>001</td><td>12</td><td>03</td><td>CALI</td><td>COLEGIO SAN FRANCISCO DE ASIS</td><td>19</td><td>8</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>13</td><td>01</td><td>CALI</td><td>ESCUELA MARCO FIDEL SUAREZ</td><td>21</td><td>9</td></tr>
 <tr><td>31</td><td>001</td><td>13</td><td>02</td><td>CALI</td><td>ESC NUESTRA SE\ÑORA DE LOS REME</td><td>23</td><td>9</td></tr>
 <tr><td>31</td><td>001</td><td>13</td><td>03</td><td>CALI</td><td>ESCUELA REPUBLICA DE ARGENTINA</td><td>24</td><td>9</td></tr>
 <tr><td>31</td><td>001</td><td>13</td><td>04</td><td>CALI</td><td>ESCUELA OLGA LUCIA LLOREDA</td><td>26</td><td>9</td></tr>
 <tr><td>31</td><td>001</td><td>13</td><td>05</td><td>CALI</td><td>IE ANTONIO JOSE CAMACHO</td><td>23</td><td>9</td></tr>
 <tr><td>31</td><td>001</td><td>13</td><td>06</td><td>CALI</td><td>COLEGIO LA SANTISIMA TRINIDAD</td><td>11</td><td>9</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>14</td><td>01</td><td>CALI</td><td>SD REPUBLICA DE COSTA RICA</td><td>34</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>14</td><td>02</td><td>CALI</td><td>ESCUELA FERNANDO VELASCO</td><td>24</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>14</td><td>03</td><td>CALI</td><td>IE NORMAL SUPERIOR SANTIAGO</td><td>33</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>14</td><td>04</td><td>CALI</td><td>IE CARLOS HOLGUIN LLOREDA</td><td>12</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>15</td><td>01</td><td>CALI</td><td>CENTRO PARROQUIAL SAN JUAN BAU</td><td>34</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>15</td><td>02</td><td>CALI</td><td>ESCUELA SAN ROQUE</td><td>35</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>15</td><td>03</td><td>CALI</td><td>COLEGIO RAFAEL NAVIA VARON</td><td>28</td><td>10</td></tr>
 <tr><td>31</td><td>001</td><td>15</td><td>04</td><td>CALI</td><td>ESCUELA GENERAL CARLOS ALBAN</td><td>18</td><td>10</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>16</td><td>01</td><td>CALI</td><td>AGUSTIN NIETO CABALLERO</td><td>39</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>16</td><td>02</td><td>CALI</td><td>IE CIUDAD MODELO</td><td>29</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>16</td><td>03</td><td>CALI</td><td>ESCUELA  MARINO RENGIFO SALCED</td><td>22</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>16</td><td>04</td><td>CALI</td><td>ESCUELA SUSANA VINASCO DE QUIN</td><td>34</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>17</td><td>01</td><td>CALI</td><td>ESCUELA JOSE VICENTE CONCHA</td><td>24</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>17</td><td>02</td><td>CALI</td><td>ESCUELA ALFREDO VASQUEZ COBO</td><td>24</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>17</td><td>03</td><td>CALI</td><td>IE 10 DE MAYO</td><td>26</td><td>11</td></tr>
 <tr><td>31</td><td>001</td><td>17</td><td>04</td><td>CALI</td><td>CDI MADRE ALBERTA FE Y ALEGRIA</td><td>23</td><td>11</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>18</td><td>01</td><td>CALI</td><td>ESCUELA CIUDAD DE CALI</td><td>33</td><td>12</td></tr>
 <tr><td>31</td><td>001</td><td>18</td><td>02</td><td>CALI</td><td>IE MARICE SINISTERRA</td><td>33</td><td>12</td></tr>
 <tr><td>31</td><td>001</td><td>18</td><td>03</td><td>CALI</td><td>COLEGIO HERNANDO NAVIA VARON</td><td>42</td><td>12</td></tr>
 <tr><td>31</td><td>001</td><td>18</td><td>04</td><td>CALI</td><td>ESCUELA FENALCO ASTURIAS</td><td>19</td><td>12</td></tr>
 <tr><td>31</td><td>001</td><td>18</td><td>05</td><td>CALI</td><td>IE JULIO DE CAICEDO Y TELLEZ</td><td>21</td><td>12</td></tr>
 <tr><td>31</td><td>001</td><td>18</td><td>06</td><td>CALI</td><td>COLEGIO LA PRESENTACION EL PAR</td><td>22</td><td>12</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>19</td><td>01</td><td>CALI</td><td>COL PARROQUIAL SE\ÑOR DE LOS MI</td><td>24</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>19</td><td>02</td><td>CALI</td><td>ESCUELA EL DIAMANTE</td><td>38</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>19</td><td>03</td><td>CALI</td><td>ESCUELA RODRIGO LLOREDA</td><td>42</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>19</td><td>04</td><td>CALI</td><td>ESCUELA MIGUEL CAMACHO PEREA</td><td>41</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>19</td><td>05</td><td>CALI</td><td>CENTRO DE CAPACITACION DON BOS</td><td>16</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>19</td><td>06</td><td>CALI</td><td>COLEGIO COMFANDI CALIPSO</td><td>&nbsp;</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>20</td><td>01</td><td>CALI</td><td>ESCUELA SANTA ROSA</td><td>29</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>20</td><td>02</td><td>CALI</td><td>COLEGIO LOS LAGOS</td><td>17</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>20</td><td>03</td><td>CALI</td><td>ESCUELA BARTOLOME LOBOGUERRERO</td><td>34</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>20</td><td>04</td><td>CALI</td><td>SENA CDTI</td><td>22</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>20</td><td>05</td><td>CALI</td><td>COLEGIO JESUS VILLAFA\ÑE FRANCO</td><td>25</td><td>13</td></tr>
 <tr><td>31</td><td>001</td><td>20</td><td>06</td><td>CALI</td><td>COLEGIO ENRIQUE OLAYA HERRERA</td><td>11</td><td>13</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>21</td><td>01</td><td>CALI</td><td>ESCUELA LA ANUNCIACION</td><td>37</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>21</td><td>02</td><td>CALI</td><td>INSTITUCION EDUCATIVA PUERTA D</td><td>40</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>21</td><td>03</td><td>CALI</td><td>ESCUELA RAUL SILVA HOLGUIN</td><td>27</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>21</td><td>04</td><td>CALI</td><td>IE MONSE\ÑOR RAMON ARCILA</td><td>23</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>22</td><td>01</td><td>CALI</td><td>COL FRAY LUIS AMIGO - FE Y ALE</td><td>38</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>22</td><td>02</td><td>CALI</td><td>ESCUELA GABRIELA MISTRAL</td><td>41</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>22</td><td>03</td><td>CALI</td><td>COL PARROQUIAL SAN FRANCISCO J</td><td>27</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>22</td><td>04</td><td>CALI</td><td>IE ELIAS SALAZAR GARCIA</td><td>25</td><td>14</td></tr>
 <tr><td>31</td><td>001</td><td>22</td><td>05</td><td>CALI</td><td>INSTITUCION EDUCATIVA NUEVO LA</td><td>31</td><td>14</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>01</td><td>CALI</td><td>COLEGIO CIUDAD DE CORDOBA</td><td>56</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>02</td><td>CALI</td><td>ESCUELA OLAYA HERRERA</td><td>42</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>03</td><td>CALI</td><td>ESCUELA JOSE RAMON BEJARANO</td><td>29</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>04</td><td>CALI</td><td>IE GABRIEL GARCIA MARQUEZ</td><td>24</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>05</td><td>CALI</td><td>ESCUELA NI\ÑO JESUS DE ATOCHA</td><td>28</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>06</td><td>CALI</td><td>IE CARLOS HOLGUIN MALLARINO</td><td>8</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>07</td><td>CALI</td><td>COLEGIO MADRE SIFFREDI-FE Y AL</td><td>18</td><td>15</td></tr>
 <tr><td>31</td><td>001</td><td>23</td><td>08</td><td>CALI</td><td>IE LLANO VERDE</td><td>3</td><td>15</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>01</td><td>CALI</td><td>IE RODRIGO LLOREDA- INTENALCO</td><td>23</td><td>16</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>02</td><td>CALI</td><td>ESCUELA CRISTOBAL COLON</td><td>34</td><td>16</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>03</td><td>CALI</td><td>ESCUELA CARLOS HOLMES TRUJILLO</td><td>31</td><td>16</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>04</td><td>CALI</td><td>ESCUELA PABLO NERUDA</td><td>41</td><td>16</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>05</td><td>CALI</td><td>SEDE CRISTO MAESTRO</td><td>21</td><td>16</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>06</td><td>CALI</td><td>SANTA ISABEL DE HUNGRIA S. CIU</td><td>14</td><td>16</td></tr>
 <tr><td>31</td><td>001</td><td>24</td><td>07</td><td>CALI</td><td>I.E. LIBARDO MADRID VALDERRAMA</td><td>16</td><td>16</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>25</td><td>01</td><td>CALI</td><td>COLEGIO LOS ANDES</td><td>38</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>25</td><td>02</td><td>CALI</td><td>COLEGIO COMFANDI</td><td>57</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>25</td><td>03</td><td>CALI</td><td>COLEGIO REYES CATOLICOS</td><td>29</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>25</td><td>04</td><td>CALI</td><td>UNIVALLE SEDE MELENDEZ</td><td>24</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>26</td><td>01</td><td>CALI</td><td>ESCUELA LUIS CARLOS ROJAS</td><td>34</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>26</td><td>02</td><td>CALI</td><td>C.V.C</td><td>46</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>26</td><td>03</td><td>CALI</td><td>CENTRO CULTURAL COLOMBO AMERIC</td><td>26</td><td>17</td></tr>
 <tr><td>31</td><td>001</td><td>26</td><td>04</td><td>CALI</td><td>I.E.T.I.COMUNA 17</td><td>20</td><td>17</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>27</td><td>01</td><td>CALI</td><td>ESCUELA ALVARO ESCOBAR NAVIA</td><td>22</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>27</td><td>02</td><td>CALI</td><td>INSTITUTO CENTRAL DE COMERCIO</td><td>29</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>27</td><td>03</td><td>CALI</td><td>ESCUELA JUAN PABLO II</td><td>16</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>27</td><td>04</td><td>CALI</td><td>ESCUELA PORTETE DE TARQUI</td><td>21</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>27</td><td>05</td><td>CALI</td><td>UNIVERSIDAD COOPERATIVA</td><td>22</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>28</td><td>01</td><td>CALI</td><td>ESCUELA LA ESPERANZA</td><td>17</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>28</td><td>02</td><td>CALI</td><td>COLEGIO AMERICANO</td><td>42</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>28</td><td>03</td><td>CALI</td><td>ESC MAGDALENA ORTEGA DE NARI\ÑO</td><td>15</td><td>18</td></tr>
 <tr><td>31</td><td>001</td><td>28</td><td>04</td><td>CALI</td><td>ACADEMIA JOSE MARIA CABAL</td><td>5</td><td>18</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>29</td><td>01</td><td>CALI</td><td>INST EDUC  EUSTAQUIO PALACIOS</td><td>49</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>29</td><td>02</td><td>CALI</td><td>INSTITUTO PARA NI\ÑOS CIEGOS Y</td><td>31</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>29</td><td>03</td><td>CALI</td><td>COL SANTA MARIA STELLA MARIS</td><td>17</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>29</td><td>04</td><td>CALI</td><td>ESCUELA 25 DE JULIO</td><td>7</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>29</td><td>05</td><td>CALI</td><td>COLEGIO POLITECNICO</td><td>34</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>01</td><td>CALI</td><td>UNIVALLE SEDE SAN FERNANDO</td><td>22</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>02</td><td>CALI</td><td>UNID.DEP.PANAM.CANCHA DE TEJO</td><td>30</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>03</td><td>CALI</td><td>LICEO DEPARTAMENTAL FEMENINO</td><td>26</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>04</td><td>CALI</td><td>ESCUELA FRANCISCO JOSE DE CALD</td><td>19</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>05</td><td>CALI</td><td>ESCUELA CAMILO TORRES</td><td>20</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>06</td><td>CALI</td><td>ESCUELA GRAN COLOMBIA</td><td>22</td><td>19</td></tr>
 <tr><td>31</td><td>001</td><td>30</td><td>07</td><td>CALI</td><td>SEDE LOS CRISTALES</td><td>5</td><td>19</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>31</td><td>01</td><td>CALI</td><td>ESCUELA REPUBLICA DE PANAMA</td><td>28</td><td>20</td></tr>
 <tr><td>31</td><td>001</td><td>31</td><td>02</td><td>CALI</td><td>ESCUELA LUIS LOPEZ DE MESA</td><td>17</td><td>20</td></tr>
 <tr><td>31</td><td>001</td><td>31</td><td>03</td><td>CALI</td><td>IE JUANA DE CAICEDO Y CUERO</td><td>41</td><td>20</td></tr>
 <tr><td>31</td><td>001</td><td>31</td><td>04</td><td>CALI</td><td>SD GENERAL ANZOATEGUI</td><td>24</td><td>20</td></tr>
 <tr><td>31</td><td>001</td><td>31</td><td>05</td><td>CALI</td><td>ESCUELA CELANESE</td><td>6</td><td>20</td></tr>
 <tr><td>31</td><td>001</td><td>31</td><td>06</td><td>CALI</td><td>ESCUELA SOFIA CAMARGO</td><td>10</td><td>20</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>32</td><td>01</td><td>CALI</td><td>ESCUELA ANTONIO MACEO PIZAMOS</td><td>21</td><td>21</td></tr>
 <tr><td>31</td><td>001</td><td>32</td><td>02</td><td>CALI</td><td>STA ISABEL DE HUNGRIA CALIMIO</td><td>33</td><td>21</td></tr>
 <tr><td>31</td><td>001</td><td>32</td><td>03</td><td>CALI</td><td>SANTA ISABEL DE HUNGRIA SAN FE</td><td>48</td><td>21</td></tr>
 <tr><td>31</td><td>001</td><td>32</td><td>04</td><td>CALI</td><td>COLEGIO FUNDACION COMPARTIR</td><td>38</td><td>21</td></tr>
 <tr><td>31</td><td>001</td><td>32</td><td>05</td><td>CALI</td><td>FUNDACION COLEGIO NARI\ÑO</td><td>18</td><td>21</td></tr>
 <tr><td>31</td><td>001</td><td>32</td><td>06</td><td>CALI</td><td>COLEGIO POTREROGRANDE</td><td>15</td><td>21</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>33</td><td>01</td><td>CALI</td><td>COLEGIO BENETT</td><td>43</td><td>22</td></tr>
 <tr><td>31</td><td>001</td><td>33</td><td>02</td><td>CALI</td><td>UNIVERSIDAD DE SAN BUENAVENTUR</td><td>9</td><td>22</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>90</td><td>01</td><td>CALI</td><td>COLISEO DEL PUEBLO</td><td>90</td><td>0</td></tr>
 <tr><td>31</td><td>001</td><td>98</td><td>01</td><td>CALI</td><td>CARCEL VILLANUEVA</td><td>2</td><td>0</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>09</td><td>CALI</td><td>FELIDIA</td><td>5</td><td>23</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>A1</td><td>CALI</td><td>HORMIGUERO A</td><td>8</td><td>24</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>A2</td><td>CALI</td><td>HORMIGUERO B</td><td>8</td><td>24</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>19</td><td>CALI</td><td>LA SIRENA</td><td>10</td><td>25</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>21</td><td>CALI</td><td>LA CASTILLA</td><td>3</td><td>26</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>25</td><td>CALI</td><td>LA ELVIRA</td><td>3</td><td>27</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>29</td><td>CALI</td><td>LA LEONERA</td><td>3</td><td>28</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>33</td><td>CALI</td><td>LA PAZ</td><td>2</td><td>29</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>37</td><td>CALI</td><td>GOLONDRINAS</td><td>4</td><td>30</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>41</td><td>CALI</td><td>LOS ANDES</td><td>4</td><td>31</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>45</td><td>CALI</td><td>VILLA CARMELO</td><td>3</td><td>32</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>47</td><td>CALI</td><td>MONTEBELLO</td><td>21</td><td>33</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>49</td><td>CALI</td><td>NAVARRO</td><td>10</td><td>34</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>53</td><td>CALI</td><td>PANCE</td><td>5</td><td>35</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>57</td><td>CALI</td><td>PICHINDE</td><td>2</td><td>36</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>65</td><td>CALI</td><td>EL SALADITO</td><td>6</td><td>37</td></tr>
 <tr><td>31</td><td>001</td><td>99</td><td>17</td><td>CALI</td><td>LA BUITRERA</td><td>14</td><td>38</td></tr>
</tbody></table>

</div>